body
{
	background-image: url("/Website/Bilder/Placeholder for the dream Images.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: lightgray;
	
}

#GreetingTutorial
{
	font-size: xx-large;
	color: red;
	z-index: 1;
}

#Fortfahren
{
	background-color: orange;
	position:  fixed;
	top:       10px ;
	right: 10px;	
	z-index: 1;
	outline: none;
}

#Fortfahren:hover
{
	background-color: rgb(255, 0, 0);
	transform: scale(0.95);
	z-index: 1;
	outline: none;
}

#Paranoia_Meter
{
 position:  absolute;
	top:   20px ;
	right: 10px;	
 color: green;
}

#Watch_Meter
{
 position:  absolute;
	top:   35px ;
	right: 10px;	
 color: green;
}

#WatchMeterExplenationButton
{
 background-color: transparent;
 position:  absolute;
	top:   51px;
	right: 30px;	
 color:   red;
 outline: none;
 border: none;
 
}

#Paranoia_Meter_Explenetion
{
 background-color: transparent;
 position:  absolute;
	top:   36px;
	right: 30px;	
 color:   red;
 outline: none;
 border: none;
 
}

#Paranoia_Meter_Explenetion:hover
{
	background-color: aqua;
	transform: scale(0.95);
	z-index: 1;
  
}

#FurtherParanoia1
{
	position:  absolute;
	top:   35px ;
	line-height: 50%;
}

#FurtherParanoia2
{
	position:  absolute;
	top:   50px;
	line-height: 50%;
}

#FurtherParanoia3
{
	position:  absolute;
	top:   65px;
	line-height: 50%;
}

#FurtherParanoia4
{
	position:  absolute;
	top:   80px;
	line-height: 50%;
}

#FurtherParanoia5
{
	position:  absolute;
	top:   95px;
	line-height: 50%;
	text-decoration: underline;
}

#FurtherWatchMeter
{
	position:  absolute;
	top:   125px;
	line-height: 50%;
	
}

#FurtherWatchMeter2
{
	position:  absolute;
	top:   140px;
	line-height: 50%;
	
}

#FurtherWatchMeter3
{
	position:  absolute;
	top:   155px;
	line-height: 50%;
	
}

#FurtherWatchMeter4
{
	position:  absolute;
	top:   170px;
	line-height: 50%;
	
}

#FurtherWatchMeter5
{
	position:  absolute;
	top:   185px;
	line-height: 50%;
	
}

#FurtherWatchMeter6
{
	position:  absolute;
	top:   200px;
	line-height: 50%;
	
}

#FurtherWatchMeter7
{
	position:  absolute;
	top:   215px;
	line-height: 50%;
	text-decoration: underline;
	font-size: large;
}

#Seite2vonTutorialStart
{
	position:  absolute;
	top:   275px;
	line-height: 50%;
	font-size: xx-large;
}

#EyeTip
{
 position:  absolute;
 top:   50px ;
 right: 10px;	
 color: green;

}